<h3>Login Page</h3>

<%= render partial: "errors" %>

<%= form_tag("/sessions/create", method: "post") do %>
  <%= text_field_tag(:email, nil, placeholder: "Email") %>
  <%= password_field_tag(:password, nil, placeholder: "Password") %>
<% end %>