<h3>Welcome Back, <%= @user.full_name %></h3>

<h3>Drinks</h3>
<ul>
  <% @user.drinks.each do |drink| %>
    <li>
      <%=link_to "#{drink[:name]}", {controller: "drinks", action: "display", api: "#{drink[:api_code]}"} %>
    </li>
  <% end %>
</ul>
