// Place all the styles related to the drinks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p {
  color: #dddddd;
}

.wrapper {
  min-height: 100%;
  background-color: rgba(0,0,0,0.6);
}